<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="CnnCore" value="SlygProvider=SqlServer;Data Source=pkbog003;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=utemp_miharu;Password=Slyg2012" />
    <add key="CnnImaging" value="SlygProvider=SqlServer;Data Source=pkbog003;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=utemp_miharu;Password=Slyg2012" />
    <add key="CnnStorage" value="SlygProvider=SqlServer;Data Source=pkbog003;Initial Catalog=DB_Miharu.Imaging_Storage;Persist Security Info=True;User ID=utemp_miharu;Password=Slyg2012" />
    <add key="CnnBanagrario" value="SlygProvider=SqlServer;Data Source=DBOGSISEARIAS\dllbanagrario;Initial Catalog=DB_Miharu.Banco_Agrario;Persist Security Info=True;User ID=sa;Password=tests123" />
    <add key="CnnTools" value="SlygProvider=SqlServer;Data Source=DBOGSISEARIAS\dllbanagrario;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=sa;Password=tests123" />
  </appSettings>
  <startup>
    <!--supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/-->
    <requiredRuntime version="v4.0.20506" safemode="true" />
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
