<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="idModulo" value="27"/>
    <add key="idCliente" value="27"/>
    <add key="idProcesador" value="9"/>
    <add key="idProyecto" value="1"/>
    <!-- Certificacion -->
    <!--<add key="SecurityWebServiceURL" value="http://localhost:51500/SecurityService.asmx" />-->
    <!--<add key="SecurityWebServiceURL" value="http://10.64.19.32/Miharu.SecurityPYC.WebService/SecurityService.asmx" />-->
    <!--<add key="SecurityWebServiceURL" value="http://10.65.52.55:8888/Miharu/Miharu.Security.WebService/SecurityService.asmx" />-->
    <!--<add key="URLVisorImagenInterno" value="http://10.64.3.32:8090/Miharu.Imaging.WebService/visor.aspx"/>-->
    <!--<add key="URLVisorImagenExterno" value="http://10.64.3.32:8090/Miharu.Imaging.WebService/visor.aspx"/>-->
    <!--<add key="Remoting" value=";RemotingUrl=tcp://10.64.19.32:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False"/>-->
    <!-- Produccion -->
    <add key="SecurityWebServiceURL" value="http://10.64.119.47/Miharu/Miharu.Security.WebService/SecurityService.asmx"/>
    <add key="URLVisorImagenInterno" value="http://10.64.8.47:8090/Miharu.Imaging.WebService/visor.aspx"/>
    <add key="URLVisorImagenExterno" value="http://200.115.178.58:8090/Miharu.Imaging.WebService/visor.aspx"/>
    <add key="Remoting" value=";RemotingUrl=tcp://10.64.119.47:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False"/>
    <add key="SessionTimeOut" value="20"/>
    <add key="SessionScan" value="2"/>
    <add key="ForgottenPassword" value="false"/>
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Static"/>
    <httpRuntime maxRequestLength="2097151"/>
    <!--<sessionState timeout="1"></sessionState>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>