<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Miharu.Uploader.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Miharu.Uploader.Library.Properties.Settings>
            <setting name="Miharu_Uploader_Library_UploaderWebServiceReference_UploaderWebService" serializeAs="String">
                <value>http://localhost:23782/UploaderWebService.asmx</value>
            </setting>
        </Miharu.Uploader.Library.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <!--<add key="UploaderWebServiceURL" value="http://localhost:23782/UploaderWebService.asmx" />-->
    <!--<add key="UploaderWebServiceURL" value="http://200.0.201.32:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <add key="UploaderWebServiceURL" value="http://uatapconvenios/Miharu.Uploader.WebService/UploaderWebService.asmx"/>
    <!--<add key="UploaderWebServiceURL" value="http://200.115.178.58:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--<add key="UploaderWebServiceURL" value="http://10.64.8.49:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
