<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="Remoting" value=";RemotingUrl=tcp://proapconvenios:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" />
    <!-- 0 Interno, 1 Externo -->
    <add key="EsExterno" value="0" />
  </appSettings>
  <connectionStrings>
    <!-- Desarrollo -->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U;RemotingUrl=tcp://10.64.19.32:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U;RemotingUrl=tcp://10.64.19.32:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" providerName="System.Data.SqlClient"/>-->
    <!-- Acciones -->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.52;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=riskapp1120" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.52;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=riskapp1120" providerName="System.Data.SqlClient"/>-->
    <!-- Ripley Certificacion -->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.65.52.55;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.65.52.55;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.65.52.55;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=miharu;Password=miharu123;RemotingUrl=tcp://10.64.19.32:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.65.52.55;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=miharu;Password=miharu123;RemotingUrl=tcp://10.64.19.32:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" providerName="System.Data.SqlClient"/>-->
    <!-- Ripley -->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.118.47\Canje;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=miharu;Password=miharu123;RemotingUrl=tcp://10.64.119.47:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.118.47\Canje;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=miharu;Password=miharu123;RemotingUrl=tcp://10.64.119.47:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False" providerName="System.Data.SqlClient"/>-->
    <!-- DUs -->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.64.56\Core;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=BBOGTECALFDECAS\SQL2008R2;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=sa;Password=852456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.64.56\Core;Initial Catalog=DB_Miharu.Imaging_core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=BBOGTECALFDECAS\SQL2008R2;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=sa;Password=852456" providerName="System.Data.SqlClient"/>-->
    <!-- Risk PreProduccion-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59\SQLSTD11DDLO2;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59\SQLSTD11DDLO2;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!-- Risk Certificacion-->
    <!--
    <add name="SQLCnnMiharu.Core.Risks" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.32;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging.Risks" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.32;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!-- Imaging Certificacion-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=UATDBCONVENIOS\ADMONC,6430;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=UATDBCONVENIOS\ADMONC,6430;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.CoreDMZ" connectionString="Data Source=UATDBCONVENIOS\ADMONC,6430;Initial Catalog=DB_Miharu.Core;User ID=miharu;Password=miharu123"/>-->
    <!-- Convenios desarrollo-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!-- Procesamiento de Fisicos en Imaging Desarrollo-->
    <!--  <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59\SQLSTD11DDLO2;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59\SQLSTD11DDLO2;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/> -->
    <!-- Procesamiento de Fisicos en Risks Desarrollo-->
    <!-- <add name="SQLCnnMiharu.Core.Risks" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging.Risks" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/> -->
    <!-- ProcFisico WebExplorerImaging desarrollo-->
    <!--<add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59\SQLSTD11DDLO2;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59\SQLSTD11DDLO2;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!--Produccion Convenios-->
    <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=prodbconvenios\admon;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=prodbconvenios\admon;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <!--Risk Producción-->
    <!--<add name="SQLCnnMiharu.Core.Risks" connectionString="SlygProvider=SqlServer;Data Source=PRODBGARANTIAS;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=u_app_core;Password=riskapp1120" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging.Risks" connectionString="SlygProvider=SqlServer;Data Source=PRODBGARANTIAS;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=u_app_core;Password=riskapp1120" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>