<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <connectionStrings>
    <add name="MiharuConnectionString" connectionString="Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_Miharu.Security_Core;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <add name="SQLCnnMiharu.OCR" connectionString="SlygProvider=SqlServer;Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_OCR;Persist Security Info=True;User ID=miharu;Password=miharu123" />
    <add name="SQLCnnMiharu.Security_Core" connectionString="SlygProvider=SqlServer;Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" />  
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DataRemoteService.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>