<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--Formato de fecha para servidor de desarrollon "yyyy-MM-dd HH:mm:ss", certificación "MM-dd-yyyy HH:mm:ss"-->
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="EncryptPassword" value="Un@Contra$e~AFuer#e" />
    <add key="LDAP.Validar" value="false" />
    <add key="LDAP.ServerPath" value="LDAP://latam.brinksgbl.com/DC=latam, DC=brinksgbl, DC=com" />
    <add key="LDAP.Entidad" value="11" />
    <add key="LDAP.Dependencia" value="1" />
    <add key="LDAP.Esquema" value="1" />
    <!--<add key="WebService.SecurityService" value="http://apbanagrariocert/Miharu.Security.WebService/SecurityService.asmx" />-->
  </appSettings>
  <connectionStrings>
    <!--Desarrollo Punteo-Ripley-Coomeva-->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!--Desarrollo-->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.32;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.32;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!--Desarrollo-->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.64.56;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.64.64.56;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>-->
    <!-- Certificación -->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.136\crtbanagrario;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=usr_banagrario;Password=B4n49r4r10*2013!" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.136\crtbanagrario;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=usr_banagrario;Password=B4n49r4r10*2013!" providerName="System.Data.SqlClient"/>-->
    <!-- Solicitudes -->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.64.56\Core;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>-->
    <!-- DUs -->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=slyg-leo\sql2012;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=sa;Password=slyg_123" providerName="System.Data.SqlClient"/>-->
    <!-- Certificación Ripley -->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=pkbog005;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>-->
    <!--Desarrollo Convenios-->
    <add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=DESDBCANJE\DDO,5465;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient" />
    <!--Certifiacipon Convenios-->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=UATDBCANJE.brinks.col\DDO,5465;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=UATDBCANJE.brinks.col\DDO,5465;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=miharu;Password=miharu123" providerName="System.Data.SqlClient"/>-->
    <!--Risk Desarrollo Risk Marcar-->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.59;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>-->
    <!--Risk Produccion-->
    <!--<add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.52;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=U_App_Core;Password=riskapp1120" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Tools" connectionString="SlygProvider=SqlServer;Data Source=10.64.18.52;Initial Catalog=DB_Miharu.Tools;Persist Security Info=True;User ID=U_App_Core;Password=riskapp1120" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="SecurityService.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>