<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Miharu.Security.WebService.DMZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Formato de fecha para servidor de desarrollon "yyyy-MM-dd HH:mm:ss", certificación "MM-dd-yyyy HH:mm:ss"-->
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--<add key="WebService.SecurityService" value="http://10.65.54.94/Miharu.Security.WebService.Core/SecurityService.asmx" />-->
    <add key="WebService.SecurityService" value="http://localhost/DDO.Security.WebService/SecurityService.asmx" />
    <!--<add key="WebService.SecurityService" value="http://desapconvenios/DDO.Security.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.65.54.99:8020/Miharu.SecurityPYC.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.32/Miharu.SecurityPYC.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.65.52.55:8888/Miharu/Miharu.Security.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.64.119.47/Miharu/Miharu.Security.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.42/Miharu.Security.WebService.Core/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://cobogwap111/Miharu.Security.WebService.Core/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://UATAPCONVENIOS/Miharu.Securitypyc.WebService/SecurityService.asmx"/>-->
    <!--<add key="WebService.SecurityServiceLocal" value="http://UATWSCONVENIOS/miharu.security.webserviceDMZ/securitydmzservice.asmx"/>-->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <applicationSettings>
    <Miharu.Security.WebService.DMZ.Properties.Settings>
      <setting name="Miharu_Security_WebService_DMZ_SecurityWebService_SecurityService" serializeAs="String">
        <!--<value>http://10.64.19.42/Miharu.Security.WebService.Core/SecurityService.asmx</value>-->
        <value>http://localhost:51500/SecurityService.asmx</value>
		<!--<value>http://DESAPCANJE/DDO.Security.WebService/SecurityService.asmx</value>-->
        <!--<value>http://proapgarantias/Miharu.Security.WebService.Core/SecurityService.asmx</value>-->
        <!--<value>http://UATAPCONVENIOS/Miharu.Securitypyc.WebService/SecurityService.asmx</value>-->
      </setting>
    </Miharu.Security.WebService.DMZ.Properties.Settings>
  </applicationSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="SecurityDMZService.asmx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>