<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="WebService.SecurityService" value="http://10.64.19.42/Miharu.Security.WebService.Core/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.32/Miharu.Securitypyc.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.59/miharu.security.webservice.core/securityservice.asmx" />-->
    <!--<add key="WebService.SecurityService" value="https://www.procesosycanjecert.com.co/SecurityDMZServiceDDO/SecurityDMZService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://uatapconvenios.brinks.col/SecurityServiceDDO/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://localhost/DDO.Security.WebService/SecurityService.asmx"/>-->
    <add key="WebService.SecurityService" value="http://DESAPCANJE.brinks.col/DDO.Security.WebService/SecurityService.asmx" />
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="EncryptPassword" value="Un@Contra$e~AFuer#e"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>