<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Miharu.Desktop.Library.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="false" defaultCategory="CriticalError">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Logs\Desktop\Trace.log" header="" footer="" formatter="PyC Text Formatter  " traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp}{tab}{title}{tab}{category}{tab}{message}{tab}{priority}{tab}{eventid}{tab}{severity}{tab}{localMachine}{tab}{localAppDomain}{tab}" name="PyC Text Formatter  " />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" categoryFilterMode="DenyAllExceptAllowed" name="Category Filter">
        <categoryFilters>
          <add name="CriticalError" />
          <add name="Warning" />
          <add name="Performance" />
          <add name="Information" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="CriticalError">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Performance">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <!--LocalHost-->
    <!-- <add key="WebService.SecurityDMZService" value="http://localhost/SecurityDMZServiceDDO/SecurityDMZService.asmx" /> -->

    <!--Servidor Desarrollo-->
    <add key="webservice.securityservice" value="http://localhost:51500/securityservice.asmx" />
	  <add key="WebService.SecurityDMZService" value="http://DesWSCanje.Brinks.col/SecurityDMZServiceDDO/SecurityDMZService.asmx" />

	  <!--Certificacion Convenios-->
	  <!--<add key="WebService.SecurityService" value="http://UATAPCONVENIOS/Miharu.Securitypyc.WebService/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityDMZService" value="http://uatwsconvenios/SecurityDMZServiceDDO/SecurityDMZService.asmx" />-->
    <!--<add key="WebService.SecurityDMZService" value="https://www.procesosycanjecert.com.co/SecurityDMZServiceDDO/SecurityDMZService.asmx" />-->


    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss" />

    <add key="EsExterno" value="1" />

    <!--Datos de Producción-->
    <!--<add key="PluginBcoDavivienda_Imaging_EntidadId" value="41"/>
    <add key="PluginBcoDavivienda_Imaging_BcoDavivienda_ProyectoId" value="2"/>-->
    
    <!--Datos de Certificación-->
	  <!--<add key="PluginBcoDavivienda_Imaging_EntidadId" value="41"/>
    <add key="PluginBcoDavivienda_Imaging_BcoDavivienda_ProyectoId" value="2"/>-->
    
    <!--Datos de Desarrollo-->
	  <!--<add key="PluginBcoDavivienda_Imaging_EntidadId" value="41"/>
    <add key="PluginBcoDavivienda_Imaging_BcoDavivienda_ProyectoId" value="2"/>-->
       
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="FileServerIP" value="LOCALHOST" />
    <!--<add key="FileServerIP" value="DESAPCANJE" />-->
    <!--<add key="FileServerIP" value="UATAPCANJE" />-->
    <add key="FileServerPort" value="8087" />
    <add key="FileServerAppName" value="FileSendingDDOServiceApp" />
    <add key="PackageSize" value="20480" />
    
    
  </appSettings>
    <system.web>
        <httpRuntime maxRequestLength="1048576" />
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    </system.webServer>
  <applicationSettings>
    <Miharu.Desktop.Library.My.MySettings>
      <setting name="Miharu_Desktop_Library_DataBridgeService_DataBridgeService" serializeAs="String">
        <!--<value>http://localhost/Miharu.Data.Bridge/DataBridgeService.asmx</value>-->
        <value>http://DesWSCanje.Brinks.col/DataBrigdeDMZServiceDDO/DataBridgeService.asmx</value>
        <!--<value>http://uatwsconvenios/DataBrigdeDMZServiceDDO/DataBridgeService.asmx</value>-->
        <!--<value>https://www.procesosycanjecert.com.co/DataBrigdeDMZServiceDDO/DataBridgeService.asmx</value>-->
      </setting>
    </Miharu.Desktop.Library.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
