<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UsaLDAP" value="False"/>
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="EntidadCliente" value="9"/>
    <add key="DependenciaCliente" value="1"/>
    <add key="EsquemaSeguridad" value="1"/>
    <add key="Proyecto" value="2"/>
    <add key="Esquema" value="1"/>
    <add key="EntidadProcesamiento" value="1"/>
    <add key="SedeProcesamiento" value="1"/>
    <add key="CentroProcesamiento" value="1"/>
    <add key="WorkingFolder" value="C:\Temp\ServerFiles\Output"/>
    <add key="LdapServerPath" value="LDAP://latam.brinksgbl.com/DC=latam, DC=brinksgbl, DC=com"/>
    <!--<add key="LdapServerUser" value="LATAM\ivan.gonzalez1"/>
      <add key="LdapServerPwd" value="Domesa2010."/>-->
    <add key="LdapGroup:Grp-Pnal-TerminalAgrario" value="44"/>
    <add key="LdapGroup:PYC-PUNTEO-ADMINISTRADOR-G" value="45"/>
    <add key="LdapGroup:PYC-PUNTEO-CONSULTA1-G" value="46"/>
    <add key="LdapGroup:PYC-PUNTEO-CONSULTA2-G" value="47"/>
    <add key="LdapGroup:PYC-PUNTEO-CONSULTA3-G" value="48"/>
    <add key="LdapGroup:PYC-PUNTEO-CONSULTA4-G" value="49"/>
    <add key="LdapGroup:PYC-PUNTEO-AJUSTES-G" value="50"/>
    <add key="LdapGroup:PYC-PUNTEO-OFITIPOB-G" value="51"/>
  </appSettings>
  <connectionStrings>
    <!--Desarrollo-->
    <add name="SQLCnnMiharu.Banagrario" connectionString="SlygProvider=SqlServer;Data Source=10.65.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.65.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.65.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Storage" connectionString="SlygProvider=SqlServer;Data Source=10.65.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.65.18.59;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=u_app_core;Password=Ap$_073U" providerName="System.Data.SqlClient"/>
    <!--<add name="SQLCnnMiharu.Banagrario" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Banco_Agrario;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Storage" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Imaging_Storage;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>
    <add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.65.54.183\desarrollo;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=sa;Password=Cambiar159-" providerName="System.Data.SqlClient"/>-->
    <!--Pruebas-->
    <!--<add name="SQLCnnMiharu.Banagrario" connectionString="SlygProvider=SqlServer;Data Source=dbbanagrarioCert\crtbanagrario;Initial Catalog=DB_Miharu_Banco_Agrario;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=dbbanagrarioCert\crtbanagrario;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=dbbanagrarioCert\crtbanagrario;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Storage" connectionString="SlygProvider=SqlServer;Data Source=dbbanagrarioCert\crtbanagrario;Initial Catalog=DB_Miharu.Imaging_Storage;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=dbbanagrarioCert\crtbanagrario;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>-->
    <!--Produccion-->
    <!--<add name="SQLCnnMiharu.Banagrario" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.41\prdbanagrario;Initial Catalog=DB_Miharu.Banco_Agrario;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Core" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.41\prdbanagrario;Initial Catalog=DB_Miharu.Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Imaging" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.41\prdbanagrario;Initial Catalog=DB_Miharu.Imaging_Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Storage" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.41\prdbanagrario;Initial Catalog=DB_Miharu.Imaging_Storage;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>
      <add name="SQLCnnMiharu.Security" connectionString="SlygProvider=SqlServer;Data Source=10.64.6.41\prdbanagrario;Initial Catalog=DB_Miharu.Security_Core;Persist Security Info=True;User ID=sa;Password=tests123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
-->
    <authentication mode="Windows"/>
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
</configuration>