<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <!--Web Service Desarrollo-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.59/Miharu.security.WebService.Core/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://localhost/Miharu.security.WebService.Core/SecurityService.asmx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.65.54.94/Miharu.Security.Webservice.Core/SecurityService.asmx" />-->
    <!--<add key="SecurityWebServiceURL" value="http://localhost:51600/SecurityDMZService.asmx" />
    <add key="UploaderWebServiceURL" value="http://localhost:23782/UploaderWebService.asmx" />-->
    <!--<add key="SecurityWebServiceURL" value="http://10.65.54.99:8020/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />
      <add key="UploaderWebServiceURL" value="http://10.65.54.99:8020/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--Web Service Certificacion-->
    <!--<add key="SecurityWebServiceURL" value="http://200.0.201.32:8090/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />
      <add key="UploaderWebServiceURL" value="http://200.0.201.32:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--<add key="SecurityWebServiceURL" value="http://10.64.3.32:8090/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />
    <add key="UploaderWebServiceURL" value="http://10.64.3.32:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--<add key="SecurityWebServiceURL" value="http://10.65.54.94/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />
      <add key="UploaderWebServiceURL" value="http://10.65.54.94/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--Web Service Produccion Externo-->
    <!--<add key="SecurityWebServiceURL" value="http://200.115.178.58:8090/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />
      <add key="UploaderWebServiceURL" value="http://200.115.178.58:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--Web Service Produccion Interno-->
    <!--<add key="SecurityWebServiceURL" value="http://10.64.8.49:8090/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />
    <add key="UploaderWebServiceURL" value="http://10.64.8.49:8090/Miharu.Uploader.WebService/UploaderWebService.asmx" />-->
    <!--Desarrollo-->
    <!--<add key="FileServerIP" value="10.65.54.99"/>
    <add key="FileServerPort" value="8087"/>
    <add key="FileServerAppName" value="FileSendingServiceApp"/>
    <add key="PackageSize" value="20480"/>-->
    <!--Certificacion-->
    <!--<add key="FileServerIP" value="10.64.3.32" />
    <add key="FileServerPort" value="8087" />
    <add key="FileServerAppName" value="FileSendingServiceApp" />
    <add key="PackageSize" value="20480" />-->
    <!--Certificacion-->
    <!--<add key="FileServerIP" value="200.0.201.32"/>
    <add key="FileServerPort" value="8087"/>
    <add key="FileServerAppName" value="FileSendingServiceApp"/>
    <add key="PackageSize" value="20480"/>-->
    <!--Produccion externo-->
    <!--<add key="FileServerIP" value="200.115.178.58"/>
      <add key="FileServerPort" value="8087"/>
      <add key="FileServerAppName" value="FileSendingServiceApp"/>
      <add key="PackageSize" value="20480"/>-->
    <!--Produccion Interno-->
   <!--<add key="FileServerIP" value="10.64.8.47"/>
    --><!--<add key="FileServerIP" value="10.64.124.117"/>--><!--
      <add key="FileServerPort" value="8087"/>
      <add key="FileServerAppName" value="FileSendingServiceApp"/>
      <add key="PackageSize" value="20480"/>-->
    <!--64Kb-->
    
    <!--BCP--><!--
    <add key="SecurityWebServiceURL" value="http://PROWSGESDOC/Miharu.Security.WebService.ConveniosDMZ/SecurityDMZService.asmx" />
    <add key="UploaderWebServiceURL" value="http://PROWSGESDOC/Miharu.Uploader.WebService.Convenios/UploaderWebService.asmx" />
    <add key="FileServerIP" value="10.64.8.42"/>
    <add key="FileServerPort" value="8087"/>
    <add key="FileServerAppName" value="FileSendingServiceApp"/>
    <add key="PackageSize" value="20480"/>
    --><!--BCP-->

    <!--CERTIFICACIÓN-->
    <add key="SecurityWebServiceURL" value="http://UATAPCONVENIOS/Miharu.Security.WebServiceDMZ/SecurityDMZService.asmx"/>
    <add key="UploaderWebServiceURL" value="http://uatapconvenios/Miharu.Uploader.WebService/UploaderWebService.asmx"/>
    <!--<add key="UploaderWebServiceURL" value="http://localhost:23782/UploaderWebService.asmx" />-->
    <add key="FileServerIP" value="localhost"/>
    <!--<add key="FileServerIP" value="COBOGWAP109C"/>-->
    <add key="FileServerPort" value="8087"/>
    <add key="FileServerAppName" value="FileSendingServiceApp"/>
    <add key="PackageSize" value="20480"/>
    <!--BCP-->
    
    <add key="EntidadCliente" value="41"/>
    <add key="Proyecto" value="4"/>
    <add key="Esquema" value="1"/>
    <!--<add key="SedeProcesamiento" value="3"/>
    <add key="CentroProcesamiento" value="1"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EntidadProcesamiento" value="11"/>
    <add key="SedeProcesamiento" value="3"/>
    <add key="CentroProcesamiento" value="1"/>
    <!--DataRemoting-->
    <!--<add key="EntidadProcesamiento" value="11" />-->
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
