<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Interno" value="0" />
    <!--<add key="Remoting" value=";RemotingUrl=tcp://10.64.19.32:8085/DataRemotingService41;RemotingPwd=;RemotingTrusted=False"/>-->
    <!--<add key="WebService.SecurityService" value="http://10.64.119.42/Miharu.Security.WebService.Core/SecurityService.asmx" />-->
    <!--<add key="WebService.ForgottenPassword" value="http://10.64.119.42/Miharu.Security.WebService.Core/tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://10.64.119.42/Miharu.Imaging.WebService.Core/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://10.64.119.42/Miharu.Imaging.WebService.Core/visor.aspx"/>-->
    <!--Desarrollo WebService-->
    <!--<add key="WebService.SecurityService" value="http://10.65.54.94/Miharu.Security.WebService.DMZ/SecurityDMZService.asmx" />-->
    <!--<add key="WebService.ForgottenPassword" value="http://10.65.54.94/Miharu.Security.WebService.DMZ/tools/ForgottenPassword.aspx" />-->
    <!--<add key="WebService.SecurityService" value="http://10.65.54.94/Miharu.Security.WebService.Core/SecurityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://10.65.54.94/Miharu.Security.WebService.Core/tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://10.65.54.94/Miharu.Imaging.WebService.Core/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://10.65.54.94/Miharu.Imaging.WebService.Core/visor.aspx"/>-->
    <!--Desarrollo Local-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.32/Miharu.Security.Webservice.Core/SecurityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://10.64.19.32/Miharu.Security.Webservice.Core/Tools/ForgottenPassword.aspx" />
    -->
    <!--<add key="WebService.ForgottenPassword" value="http://localhost:51600/Tools/ForgottenPassword.aspx" />-->
    <!--
    <add key="WebService.ImagingService" value="http://10.64.19.32/Miharu.Imaging.WebService.Core/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://10.64.19.32/Miharu.Imaging.WebService.Core/visor.aspx"/>-->
    <!--<add key="WebService.SecurityService" value="http://localhost:51600/SecurityDMZService.asmx" />-->
    <!--Imaging Desarrollo Localhost-->
    <!--<add key="WebService.SecurityService" value="http://localhost:51500/SecurityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://localhost:51600/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://localhost:55313/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://localhost:55313/visor.aspx"/>-->
    <!--<add key="WebService.Visor" value="http://localhost:7194/visor.aspx"/> -->
    <!--Imaging Desarrollo IIs local-->
    <!--<add key="WebService.SecurityService" value="http://10.64.124.134:8083/securityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://10.64.124.134:8083/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://10.64.124.134:8082/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://10.64.124.134:8082/visor.aspx"/>-->
    <!--Procesamiento Fisicos - Imaging Certificación-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.32/miharu.securitypyc.webservice/securityservice.asmx" />
    <add key="WebService.ForgottenPassword" value="http://10.64.19.32/miharu.securitypyc.webservice/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://10.64.19.32/miharu.imagingpyc.webservice/imagingservice.asmx"/>-->
    <!--<add key="WebService.ImagingService" value="http://10.64.124.134/Miharu.Imaging.Explorer.WebService/ImagingExplorerService.asmx"/>
    <add key="WebService.Visor" value="http://10.64.124.134/Miharu.Imaging.Explorer.WebService/visor.aspx"/>-->
    <!--<add key="WebService.Visor" value="http://10.64.19.32/miharu.imagingpyc.webservice/visor.aspx"/>-->
    <!--Convenios Certificación-->
    <!--<add key="WebService.SecurityService" value="http://10.64.18.32:51500/Miharu.Security.SecurityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://10.64.18.32:51600/Miharu.Security.WebService/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://10.64.18.32:55313/Miharu.Imaging.WebService/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://10.64.18.32:55313/Miharu.Imaging.WebService.Core/visor.aspx"/>-->
    <!--Imaging Certificación lo traje del config de certificación JJBM-->
    <!--<add key="WebService.SecurityService" value="http://uatapconvenios/miharu.securitypyc.webservice/securityservice.asmx" />
    <add key="WebService.ForgottenPassword" value="http://uatapconvenios/Miharu.Security.WebService/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://uatapconvenios/Miharu.Imaging.Explorer.WebService/ImagingExplorerService.asmx"/>
    <add key="WebService.Visor" value="http://uatapconvenios/Miharu.Imaging.Explorer.WebService/visor.aspx" />-->
    <add key="IdentifierDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--<add key="WebService.SecurityService" value="http://localhost:51600/SecurityDMZService.asmx" />-->
    <!--<add key="WebService.ImagingService" value="http://10.64.19.59/Miharu.Imaging.WebService.Core/ImagingService.asmx"/>-->
    <!--Risk Preproduccion-->
    <!--<add key="WebService.SecurityService" value="http://10.64.19.32:8090/Miharu.Security.WebService/SecurityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://10.64.19.32:8090/Miharu.Security.WebService/tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://10.64.19.32:8090/Miharu.Imaging.WebService/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://10.64.19.32:8090/Miharu.Imaging.WebService.Core/visor.aspx"/>-->
    <!--Convenios certificación dmz-->
    <add key="WebService.SecurityService" value="https://www.procesosycanjecert.com.co/miharu.security.webserviceDMZ/securitydmzservice.asmx" />
    <add key="WebService.ForgottenPassword" value="https://www.procesosycanjecert.com.co/Miharu.Security.WebServiceDMZ/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="https://www.procesosycanjecert.com.co/Miharu.Imaging.Explorer.WebService/ImagingExplorerService.asmx" />
    <add key="WebService.Visor" value="https://www.procesosycanjecert.com.co/Miharu.Imaging.Explorer.WebService/visor.aspx" />
    <!--Convenios Producción-->
    <!--<add key="WebService.SecurityService" value="http://proapconvenios/Miharu/Miharu.Security.WebService/SecurityService.asmx" />
    <add key="WebService.ForgottenPassword" value="http://proapconvenios/Miharu/Miharu.Security.WebService/Tools/ForgottenPassword.aspx" />
    <add key="WebService.ImagingService" value="http://proapconvenios/Miharu/Miharu.Imaging.WebService/ImagingService.asmx"/>
    <add key="WebService.Visor" value="http://proapconvenios/Miharu/Miharu.Imaging.WebService/visor.aspx"/>-->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<customErrors mode="Off"></customErrors>-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="3000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>