<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Desarrollo-->
    <add key="WebService.BanagrarioService" value="http://localhost:61950/BanagrarioService.asmx"/>
      
    <!--Pruebas-->
    <!--<add key="WebService.BanagrarioService" value="http://10.64.3.77/Banagrario.WebService/BanagrarioService.asmx"/>-->
    <!--<add key="WebService.BanagrarioService" value="http://10.64.19.76/Banagrario.WebService/BanagrarioService.asmx"/>-->

    <!--Certificacion-->
    <!--<add key="WebService.BanagrarioService" value="http://cobogwws120/BanagrarioWebServiceLDAP/BanagrarioService.asmx"/>-->
    
    <!--Produccion-->
    <!--<add key="WebService.BanagrarioService" value="http://10.64.14.123/Banagrario.WebServiceLDAP/BanagrarioService.asmx"/>-->


    <!--Produccion IP Interna-->
    <!--<add key="WebService.BanagrarioService" value="http://10.64.6.63/Banagrario.WebServiceLDAP/BanagrarioService.asmx"/>-->
    
    <!--Pruebas-->
    <add key="FileServerIP" value="10.65.54.99"/>
    
    <!--Produccion-->
    <!--<add key="FileServerIP" value="10.64.14.123"/>-->
    
     <!--Certificacion-->
    <!--<add key="FileServerIP" value="10.64.6.53"/>-->
      
    <add key="FileServerPort" value="8087"/>
    <add key="FileServerAppName" value="FileSendingServiceApp"/>
    <add key="PackageSize" value="20480"/>
    <!--64Kb-->
    <add key="EntidadCliente" value="9"/>
    <add key="Proyecto" value="2"/>
    <add key="Esquema" value="1"/>
    <add key="EntidadProcesamiento" value="11"/>
    <!--<add key="SedeProcesamiento" value="3"/>
    <add key="CentroProcesamiento" value="1"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
